.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.cardContainer {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 1.25rem;
  border-radius: 0.5rem;
  border-top: 4px solid #34d399;
}

.cardHeader {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.loginFormButton {
  font-weight: 700;
  color: #ffffff;
  background-color: #059669;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: none;
}

.formErrorMessage {
  padding: 0.25rem 0.75rem;
  margin-top: 0.5rem;
  border-radius: 0.375rem;
  width: fit-content;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ffffff;
  background-color: #ef4444;
}

.registerLink {
  margin-top: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none;
  width: fit-content;
  align-self: flex-end;
}

.registerLink > span {
  text-decoration: underline;
}
